# Compute Canada Packaging Requirements

absl_py==1.2.0+computecanada
atari-py==0.2.6+computecanada
beautifultable==1.1.0
box2d-py==2.3.8+computecanada
cached-property==1.5.2+computecanada
certifi==2022.9.14+computecanada
cffi==1.14.6+computecanada
charset_normalizer==2.1.1+computecanada
cloudpickle==1.6.0+computecanada
cycler==0.11.0+computecanada
Cython==0.29.32
dm-control==0.0.364896371+computecanada
dm-env==1.4+computecanada
dm-tree==0.1.6+computecanada
future==0.18.2+computecanada
glfw==1.12.0+computecanada
gym==0.18.0+computecanada
h5py==3.4.0+computecanada
idna==3.4+computecanada
imageio==2.9.0+computecanada
kiwisolver==1.3.1+computecanada
labmaze==1.0.5+computecanada
lockfile==0.12.2+computecanada
lxml==4.7.1+computecanada
matplotlib==3.4.2+computecanada
mujoco-py==1.50.1.68
numpy==1.21.4+computecanada
opencv-python==4.5.1.48+computecanada
pandas==1.3.5+computecanada
Pillow==7.2.0+computecanada
protobuf==4.21.2+computecanada
pycparser==2.21+computecanada
pyglet==1.5.0+computecanada
PyOpenGL==3.1.5+computecanada
pyparsing==3.0.9+computecanada
python-dateutil==2.8.2+computecanada
pytz==2022.2.1+computecanada
requests==2.28.1+computecanada
scipy==1.7.3+computecanada
seaborn==0.11.2+computecanada
six==1.16.0+computecanada
torch==1.10.0+computecanada
tqdm==4.64.1+computecanada
typing_extensions==4.3.0+computecanada
urllib3==1.26.12+computecanada
wcwidth==0.2.5+computecanada
